In [8]:
import pandas as pd


etudiant = ["Gradora", "Dieudonne","Emilie"]

note = [1,4,2]


list = {"etudiant":etudiant,"note":note}



df=pd.DataFrame(list)

df.sort_values("note").head(2)

  etudiant  note
0  Gradora     1
2   Emilie     2

In [13]:
import pandas as pd

df = pd.read_csv("top_100_anime_movie.csv")

df[(df["year"] >= 1990) & (df["year"] <= 1999)].sort_values("rating", ascending=False).head(3)

,rank,title,rating,votes,year,minutes,genre,gross
0,1,Ramayana: The Legend of Prince Rama,9.2,"7,549",1993,97.0,"Animation, Action, Adventure",NaN
9,10,Princess Mononoke,8.4,"392,732",1997,134.0,"Animation, Action, Adventure",$2.38M
17,18,Magnetic Rose,8.2,"2,677",1995,45.0,"Animation, Drama, Horror",NaN